<!DOCTYPE html>
<html>
<head>
  <title>Your To-Do WebApp Homepage</title>
</head>
<body>
  <h1>You're Welcome</h1>
  <p> Signup/Login below</p>
  <ul>
    <li><a href="/users/register">Signup</a></li>
    <li><a href="/users/login">Login</a></li>
  </ul>
</body>
</html>